header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: floralwhite;
    background-color: tomato;
    padding: 1px 1px 1px 20px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

p {
    display: block;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

h4 {
    display: block;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;    
}

#div{
    display: flex;
    height: 290px;
    padding-top: 10px;
}

#esquerda{
    background-color: lightgray;
    flex: 50%;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

#direta{
    background-color: lightgray;
    flex: 50%;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

#div_c{
    display: flex;
    height: 170px;
    padding-top: 10px;
}

#esquerda_c{
    background-color: lightgray;
    flex: 20%;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

#esquerda_c > p{
    padding-top: 8px; 
    height: 22px;
}

#direta_c{
    background-color: lightgray;
    flex: 80%;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

footer{
    text-align: center;
}

footer > hr {
  border-width: 1px solid;  
  border-color: tomato;
}

h3{
    text-align: center;
}

ol{
    padding-left: 0px; 
    list-style: none;
    float: left;
    text-align: left;
    font-size: 12px; 
}

label{
    font-size: small;
}

input{
    height: 25px;
    padding-left: 10px;
    color: black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-color: lightgray;
    border: 1px solid;
}
 
input:hover, input:focus {
    border-color:tomato;
    outline: tomato;
    box-shadow: none;
}

input:active {
    border: 1px solid tomato;
    }
 
#p1{
  font-size: 12px;
}

#btnlogin{
    background-color: tomato;
    border-color: tomato;
    width: 100%;    
    border-width: 0px;
    height: 25px;
    color: white;
    border-radius: 5px;
}

#btncadastrar{
    background-color:rgb(38, 123, 235);
    border-color: rgb(38, 123, 235);
    width: 100%;
    border-width: 0px;
    height: 25px;
    color: white;
    border-radius: 5px;
}

#c_nome, #c_sobrenome, #c_email, #c_login, #c_senha{
    width: 98%;
}

#c_nome:hover, #c_nome:focus, #c_sobrenome:hover, #c_sobrenome:focus, #c_email:hover, #c_email:focus, 
#c_login:hover, #c_login:focus, #c_senha:hover, #c_senha:focus {
    border-color:rgb(38, 123, 235);
    outline: rgb(38, 123, 235);
    box-shadow: none;
}

#e_login{
    width: 98%;
}

#e_senha{
    width: 98%;
}